@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #2b134b;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    
    transform: translate(-50%,-50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-position: top center;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10PX;
}

div#formulario > h1 {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2b134b;
    
}

div#formulario > p {
    font-weight: bolder;
    font-size: 0.7em;
    text-align: justify;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1.7px;
    color: #2b134b;
}

form > div.campo {
    display: block;
    background-color: #2b134b;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #2b134b;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: hsla(153, 100%, 78%, 0.925);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

div.campo > input::placeholder {
    color: #2b134bb4;
    font-size: .8em;
    text-align: center;
    padding-right: 45px;
}

form > input[type=submit] {
    display: block;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    height: 40px;
    background-color: #00ff88;
    color: #2b134b;
    border: none;
    border-radius: 5px;
    border: 1px solid #2b134b;
    margin-top: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2b134b;
    color: #00ff88;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    padding-top: 7px;
    width: 100%;
    height: 40px;
    border-radius: 5px;   
    background-color: white;
    border: 1px solid #2b134b;
    color: #2b134b;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #2b134b;
    color: #00ff88;
}

form > a.botao > span {
    font-size: 0.8em;
}
